.title-text {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 30px;

  h1,
  p {
    text-align: center;
    align-items: center;
  }

  p {
    font-size: 20px;
  }
}