@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .column {
      min-width: 300px;
    }
  }

  footer {
    .social-network-icons {
      img {
        height: 60px;
      }
    }

    copyright {
      font-size: 14px;
    }
  }
}