@media screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;

    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  footer {
    .social-network-icons {
      img {
        height: 60px;
      }
    }

    copyright {
      font-size: 14px;
    }
  }
}