* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lobster Two', Helvetica, sans-serif;
  margin: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-text h1,
.title-text p {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-text p {
  font-size: 20px;
  width: 50%;
  margin: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 6px;
}

.row .column {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  padding: 0 8px;
}

.row .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: -1;
  cursor: pointer;
}

.row .column img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#ecf2f9), to(#9fbfdf));
  background-image: linear-gradient(#ffffff, #ecf2f9, #9fbfdf);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.button button.btn {
  border: 2px solid black;
  font-size: 22px;
  padding: 14px 22px;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.8s linear;
  transition: color 0.8s linear;
}

.button button.btn:hover {
  color: white;
  background-color: black;
}

.button button.btn i {
  font-size: 16px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  height: 80px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

footer img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer copyright {
  font-family: 'Lobster Two', Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  .title-text p {
    font-size: 16px;
    width: 280px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .button a .btn {
    font-size: 14px;
    padding: 10px 18px;
  }
  .button a .btn i {
    font-size: 8px;
  }
  footer .social-network-icons img {
    height: 60px;
  }
  footer copyright {
    font-size: 14px;
  }
}
/*# sourceMappingURL=web-design-m-soft.css.map */