section {
  .about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-me {
      margin: 30px;

      img {
        height: 450px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
      }
    }

    .about-me-text {
      margin: 40px;

      h1 {
        margin: 40px;
      }

      p {
        font-size: 24px;
        text-align: center;

      }
    }
  }
}